html {

/*font-family: 'Poiret One', cursive;
*/  
font-family: 'Quicksand', sans-serif;
}
h1{
font-family: 'Poiret One', cursive;

}
h2{
font-family: 'Poiret One', cursive;

}
h3{
font-family: 'Poiret One', cursive;

}
h4{
font-family: 'Poiret One', cursive;

}
h5{
font-family: 'Poiret One', cursive;

}
a{
font-family: 'Poiret One', cursive;

}